<!DOCTYPE html>
<html>
    <head>
        <title>WebTekProject</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="scripts/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="scripts/menu.js"></script>
        <script type="text/javascript" src="scripts/login.js"></script>
        <meta charset="utf-8"> 
    </head>
    <body>
    <div class="page_wrapper">
        <div class="header_wrapper">
            <div class="header">
                <p class="header"><a href="/DynamicMusicShop/">WEBTEKPROJECT MUSIC SHOP</a></p>
            </div>
            <div class="menubar">
                <p class="left_menuitem" id="products_link">Products</p>
                <p class="left_menuitem" id="support_link">Support</p>
                <p class="left_menuitem" id="faq_link">FAQ</p>
                <p class="right_menuitem" id="login_link">Login</p>
                <p class="right_menuitem" id="signup_link">Sign Up</p>
                <p class="right_menuitem" id="basket_link">Basket</p>
            </div>
        </div>
        <div id="page_content">
         
            <h1>WELCOME</h1>
            <h2>Group "Icouldntcareless" webshop</h2>
            
            <table class="product">
                <tbody>
                    <tr>
                        <td><a href="html/guitars.html"> <img
                                src="images/guitar.jpg" alt="guitar" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Guitars</p></td>
                    </tr>
                </tbody>
            </table>
            <table class="product">
                <tbody>
                    <tr>
                        <td><a href="html/drums.html"> <img src="images/drums.jpg"
                                alt="drums" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Drums</p></td>
                    </tr>
                </tbody>
            </table>
            <table class="product">

                <tbody>
                    <tr>
                        <td><a href="html/pianos.html"> <img
                                src="images/piano.jpg" alt="piano" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Pianos</p></td>
                    </tr>
                </tbody>
            </table>
            <table class="product">
                <tbody>
                    <tr>
                        <td><a href="html/basses.html"> <img src="images/bass.jpg"
                                alt="bass" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Basses</p></td>
                    </tr>
                </tbody>
            </table>
            <table class="product">
                <tbody>
                    <tr>
                        <td><a href="html/trumpets.html"> <img
                                src="images/trumpet.jpg" alt="trumpet" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Trumpets</p></td>
                    </tr>
                </tbody>
            </table>
            <table class="product">
                <tbody>
                    <tr>
                        <td><a href="html/violins.html"> <img
                                src="images/violin.jpg" alt="violin" />
                        </a></td>
                    </tr>
                    <tr>
                        <td><p>Violins</p></td>
                    </tr>
                </tbody>
            </table>  


        </div>
        <div class="footer_wrapper">
            <p>Ingeniørhøjskolen Aarhus Universitet - Finlandsgade 22, 8200
                Aarhus N - Omstilling tlf.: +45 4189 3000</p>
        </div>
    </div>
</body>
</html>