<script type="text/javascript" src="scripts/login.js"></script>
<link href="styles/login.css" rel="stylesheet" type="text/css" />
<h1>Login</h1>

<form name="login" method="post" class="signin">
	<fieldset class="textbox">
		<label class="username"> <span>Username</span> <input
			id="username" name="username" type="text" 
			placeholder="Username" required/>
		</label> <label class="password"> <span>Password</span> <input
			id="password" name="password" type="password"
			placeholder="Password" required/>
		</label>
		<button id="loginButton" type="button">Sign in</button>
	</fieldset>
</form>