<!DOCTYPE html>
<html>
    <head>
        <title>ProductListTest.html</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="scripts/jquery-1.11.0.js"></script>
        <meta charset="utf-8"> 
    </head>
<body>
<button id="addToBasket" type="button" onclick="">Add to basket</button>

<table style="border: 6px solid gray">
    <thead>
    <tr>
        <td>Name</td>
        <td>Price</td>
    </tr>
    </thead>

    <tbody id="itemtablebody">

    </tbody>
</table>

 

</body>
</html>