<script type="text/javascript" src="scripts/sign_up.js"></script>
<link href="styles/login.css" rel="stylesheet" type="text/css" />
<h1>Sign Up</h1>

<form name="login" method="post" class="signin">
	<fieldset class="textbox">
		<label class="username"> <span>Choose username</span> <input
			id="username" name="username" type="text" 
			placeholder="Username" required/>
		</label> <label class="password"> <span>Choose password</span> <input
			id="password" name="password" type="password"
			placeholder="Password" required/>
		</label>
		<button id="signupButton" type="button">Sign up</button>
	</fieldset>
</form>