<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="scripts/message.js"></script>
<meta charset="utf-8">
<title>Support Test Site</title>
</head>
<body>
	<form name="input" action="rest/messageHandler/sendMessage" method="post">
		<label>User: </label>
		<input type="text" name="userName" readOnly="readOnly"><br>
		<label>Text</label>
		<input type="text" name="messageBox"><br>
		<input type="submit" value="Submit">
	</form>

        <h3>Live chat</h3>
        <div id="chat"></div>
</body>
</html>